.swiper-container {
    padding-bottom: 50px; /* إضافة مساحة كافية للنقاط */
}
.swiper-pagination {
    // position: absolute;
    // bottom: 1000px; /* اجعل النقاط أسفل الصور */
    // left: 50%;
    // z-index: 10;
    
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.div_blueicon{
   display: none;
   z-index: 20;
}
.border_line_up{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    transform: translateY(-4px) translateX(10px);
    transition: all 0.4s ease-in-out;}
.line_up{
    background-color: #0A0571;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;   

    .white-icon{
        color: white;
        font-size: 30px;
    }
}
.divimgcontent{
    background-color: #0A0571;
    color: white;
    transition: opacity 0.5s ease-in-out;
    margin-right: 10%;
    .white2-icon{
        color: white;
        font-size: 22px;
    }
    .nav-link{
        span{
            font-size: 18px !important;
            font-weight: 380;
        }
    }
}
.imgswiper:hover .div_blueicon{
   display: flex;
}
.imgswiper:hover .divimgcontent {
    animation: fadeInUp 0.5s ease-in-out;
}
.imgswiper:hover .line_up {
    transform: scale(0.8); 
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .swiper-container{
       display: flex !important;
       justify-content: space-between !important;

    }
    .imgswiper{
        display: flex !important;
        justify-content: space-between !important;
        img{
            width: 298px;
            height: 392px;
        }
    }
    .div22div_blueicon{
      display: flex!important;
   }
   .parent_line_up{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
   }
    
    .imgswiper:hover .div_blueicon{
   
        display: flex !important;
        
}
.border_line_up{
    transform: translateY(0px) translateX(-20px);

}
// .imgswiper:hover .divimgcontent {
//    animation: fadeInUp 0.5s ease-in-out;
// }
}
@media screen and (max-width:767px) {
    .div22div_blueicon{
        display: flex!important;
     }
     .line_up{
        // margin-left: 80%;
    }
    .divimgcontent{     margin-right: 18% !important;
       }
       .border_line_up{
        display: flex ;
        justify-content: center;
        align-self: center;
        transform: translateY(-4px) translateX(90px)!important;
       }
element.style {
    width: 267px;
}


}